.small_card_display {
  width: 46%;
  height: 63px;
  background-color: #f1f4fb;
  border-radius: 50px;
  display: inline-block;
}

.small_card_img_display {
  border-radius: 50px;
  height: 42px;
  width: 42px;
  margin: 10px 11px 0px 8px;
}
.name_title_display {
  position: relative;
  padding: 0px;
  top: -25px;
  font-size: 15px;
}

.name_display {
  position: relative;
  opacity: 0.5;
  font-size: 14px;
  top: -6px;
  left: -66px;
}
